body {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
h2 {
	font-size: 1.5em;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
h3 {
	font-size: 1.1em;
	padding: 15px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-weight: lighter;
}
p {
	margin: 0px 0px 0px 0px;
	padding:  0px 0px 0px 0px;
	font-size: 0.9em;
}
header {
	width: 100%;
}
nav{
    clear: both;
	margin: 0 0 0 0;
    font-size: 100%;
    width: 100%;
    overflow: hidden;
}
nav ul li {
	background-color: #4b85bf;
	margin: 1px;
	padding: 10px;
	width: 90%;
	float: left;
	margin-bottom: 3px;
	text-align: center;
}
nav ul {
	padding-inline-start: 10px;
}
nav ul :hover{
	background-color: #1bb55e;
}
nav li {
	text-decoration: none;
	list-style: none;
	font-size: 0.9rem;
	}
nav li a {
	text-decoration: none;
	color: white;
	}
	
#breadcrumbs ul li {
	text-decoration: none;
	list-style: none;
	float: left;
	margin-bottom: 10px;
}
#breadcrumbs ul li a {
	text-decoration: none;
	list-style: none;
}
#homeTitle {
	margin: 10px;
	width: 100%;
}
#homeTitle h1 {
	padding-left: 70px;
	padding-top: 10px;
	color: #4b85bf;
	font-weight: lighter;
}
#homeTitle h1 #boldtext {
	font-style: bold;
}

#oulogo img {
	float: left;
	height: 3rem;
	margin: 5px;
}
#content {
	clear: both;
	width: 95%;
	background-color: #edf1f5;
  	display: grid;
  	grid-gap: 0.25rem;
 	 /* initial layout designed for mobile screens*/
	grid-template-columns: 1fr;
	padding-inline-start: 20px;
	height: auto;
	margin: 15px;
	padding-bottom: 10px;
}
#sessionID{
	display: none;
}
#sideimage img{
	margin-right: 20px;
	width: 90%;
}
h3 label {
	display: inline-block;
	width: 100%;
  }
.Button {
	margin-left: 10px;
	margin-bottom: 20px;
}
.Button input {
	font-size: 1rem;
	background-color: #1bb55e;
	padding: 5px;
	margin-bottom: 20px;
	text-decoration: none;
	color: white;
}
.Button a {

	font-size: 1rem;
	background-color: #1bb55e;
	padding: 7px;
	margin-bottom: 20px;
	text-decoration: none;
	color: white;
}
footer	{
	width: 95%;
	height: auto;
	background-color: #cdf7d8;
	border-top-color: Gray;
	border-top-style: solid;
	border-top-width: 1px;
	padding-inline-start: 20px;
	margin: 15px;
	padding-bottom: 10px;


}
footer #imagebox-footer {
	height: auto;
	padding-top: 50px;
	float: left;
	display: grid;
	grid-gap: 0.25rem;
	/* initial layout designed for mobile screens*/
	grid-template-columns: 1fr;
}
footer#imagebox-footer div img{
	width: 90%;
}

/* media queries for different layouts: tablet and laptop */
/*mobile*/
@media screen and (min-width: 300px) {

#content  {
    display: grid;
    grid-template-columns: 1fr ;
  }
  footer #imagebox-footer  {
    display: grid;
    grid-template-columns: 1fr ;
  }

}
/*tablet and larger screens*/
@media screen and (min-width: 700px) {
	nav ul li {
		width:12%;
		margin-bottom: 10px;
		padding: 5px;
	}
	nav ul li:last-child {
		width:28%;
	}
#content  {
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
footer #imagebox-footer  {
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
}
